{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1 align="center">Make a Post</h1>

    <form action="" method="POST">
        <textarea name="text" id="text" class="form-control" cols="30" rows="10"></textarea>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-lg btn-primary">Post</button>
        </div>
        <div align="center" style="margin-top: 30px;">
            <a href="/home">
                <button type="button" class="btn btn-primary btn-secondary">Back</button>
            </a>
        </div>
    </form>
{% endblock content %}